/* You can not modify anything from the HTML file */  /*OK ACCEPTED ✅✅✅✅
/* You can only modify the CSS file */

/* 🤔🤔  doubt  how to make the navbar in 3 part using 
flex:3 and then giving each child  🤔 🤔 */
/* and so as flex :2 flex:1 respectively  🤔 🤔  25/12/22 SOLVED UNDERWSTOOD BY WATCHING AND DOING PROJECT FROM LCO LEGEND HITESH SIR COURSE 😀😀😀😀😀😀😀😀😀 */



.container{
    padding: 10px;
}


.navbar{
    display: flex; 
    

}


.navbar-container{
    display: flex;
}

.list{
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin-left: 300px;  
    font-weight: 30px;
    font-family: Orbitron;
}


 /* 🤔🤔 unable to move the border bottom to right side 😢😢😭😭😟  SOLVED 24/12/2022 😁😁😂😂🤣🤣😃😃 */

li:first-child{
    width: 30px;
    border-bottom: 3px solid black;
    /* border-bottom-left-radius: ; */
    border-width: 3px;
    /* border-left-width: 10px; */
    border-right-width: 20px;
    /* border-left: 30px; */
}

.button-group{
    display: flex;
    margin-left: 300px;
    font-family: Orbitron;

}

.search-icon svg{
    height: 17px;
    margin-top: 20px;
    font-family: Orbitron;

}

.nav-button{

    background-color: transparent;
    padding: 5px;
    margin-top: 10px;
    width: 120px;
    border-radius: 10px;
    border-width: 3px ;
    font-size: 13px;

}

.hero-container{
    display: flex;
    /* flex-direction: column; */
}

.square{
    margin-top: 200px;
}


/* 😭😭😭😢😢😢 when i remove this everything become bad 26/12/2022😭😭😭😢😢😢 */

.star{
    position: absolute;
}


.hero-container {
   margin-top: 70px;
}

.square{
    position: absolute;
    margin-left: 60px;
    z-index: -1;
    margin-top: 140px;
}

.hero-container-right{
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   
}

.hero-container img{
    width: 350px;
}

.hero-heading{
    font-size: 60px;
    font-family: orbitron;
}



.star img{
    /* position: absolute; */
    bottom: 0;
    margin-top: 420px;
    margin-left: 480px;
    height: 50px;
    width: 50px;

}

.globe img{
    position: absolute;
    height: 60px;
    width: 60px;
    margin-left: 630px;
    margin-top: -40px;
}

.hero-description{
    width: 60%;
    text-align: center;
    margin-top: -20px;
}

.icons img{
    height: 30px;
    width: 30px;
}

.button-email{
    margin-top: 80px;
    border-radius: 7px;
    font-family: orbitron;
    margin-right: 10px;

}

.button-join{
    background-color: #1f1f1f;
    color: #ffff;
    border-radius: 7px;
    font-family: orbitron;
}

.contact-heading{
    margin-top: 80px;
}

.icons{
    margin-left: -20px;
}


/* 😁😁😂😂🤣🤣😀😀 ALL ISSUES SOLVED AND COMPLETED 26/12/2022 😁😁😂😂🤣🤣😃😃 */
